app-left-menu{
    height: 95vh;
}

app-calendar{
    height: 100%;
    overflow: hidden;
}

app-course-menu{
    height: 95vh;
    border-left: solid lightgray .1px;
    border-right: solid lightgray .1px;
    overflow: hidden;
}

app-top-bar{
    height: 5vh;
}