.selectItem:hover{
    background-color: lightgray;
}

.selectItem{
    display: block;
    position: absolute;
    width: 100%;
}

.selectRow{
    margin-top: 3%;
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.dropGroup{
    height: 40vh;
    overflow: scroll;
    position: relative;
    z-index: 20;
}

#courseMenu{
    height: 100%;
    width: 100%;
}

.removeButton{
    width: 100%;
}

#addCourseButton{
    margin-top:  3%;
}

#courseHolder{
    margin-top: 2%;
    list-style-type: none;
}

.courseCard{
    margin-top: 2%;
    background-color: #f3f3f3;
    width: 100%;
    border-radius: .25vw;
}

.errorMessage{
    width: 100%;
    height: 100%;
    margin-top: 2%;
    font-size: 13px;
}

.colorTag{
    height: 100%;
    border-radius: .25vw;
}

.courseLabel{
    font-size: 17px;
}