<div id = "courseMenu" class = "container-fluid">

  <form class = "row" style = "margin-top: 3%;">
      <div class="input-group input-group-lg">
        <input #search type="text" class="form-control" id = "courseSel" (keyup) = "getSearchResults(search.value)" placeholder="Search Courses" autocomplete="off" (click) = "searchActive = true;" >
        <span class="input-group-btn">
          <button class="btn btn-danger btn-lg" type="button" (click) = "search.value = ''" style = "border-top-left-radius: 0; border-bottom-left-radius: 0">Clear</button>
        </span>
      </div>
  </form>

<div *ngIf = "searchActive == true" class = "row selectRow">
  <div class = "list-group dropGroup col-md-11">
    <div *ngFor = "let item of searchOptions;let index = index;">
      <div class = "list-group-item list-group-item-action flex-column align-items-start w-100 p-3" (click) = "addCourse($event); update($event);">
        <div><strong>{{item['field']}} {{item['num']}}</strong></div>
        <div>{{item['name']}}</div>
        <option value = "{{index}}" style = "display: none;"></option>
      </div>
    </div>
  </div>
</div>
<div id = "courseBucket" class = "container-fluid">
  <div *ngIf = "addError == true" class = "row" style = "height: 8vh;">
      <div class="alert alert-danger errorMessage col-md-12">
          <strong>Failed</strong> to add <strong>{{selectedOption['field']}} {{selectedOption['num']}}</strong> has already been added to the schedule.
      </div>  
  </div>
  
    <div *ngFor = "let item of currentCourses; let i = index" id = "courseHolder" class = "row">
      <div class = "courseCard col-md-12" [id] = "i"> 
        <div class = "row" style = "height: 100%;">
          <div class = "colorTag col-md-1" [ngStyle] = "{'background-color': currentCourses[i].color}"><div class = "row"><button class = "btn btn-danger removeButton col-md-12" (click) = "removeClass(i); update($event);">X</button></div></div>
          <div class = "col-md-10 courseLabel">
            <strong>{{item.fos}} {{item.num}}</strong>
            <div *ngIf = "item.info">
              <div *ngIf = "item.info['Lecture'].length > 0">Lecture
                  <form><div class = "radio"  *ngFor = "let m of item.info['Lecture']"><label><input type = "radio" name = "{{currentCourses[i].fos}}{{currentCourses[i].num}}LecRadio" id = "{{currentCourses[i].fos+currentCourses[i].num+m['section']}}" class = "classForm"> {{m['section']}} {{m['crn']}} {{m['time']}} {{m['days']}}</label>
                    <div *ngIf = "m['time'] == 'TBA' ">
                      <div class="alert alert-danger errorMessage col-md-12">
                        <strong>This Section Has No Schedulable Times</strong>
                      </div>
                    </div>
                  </div>
                  </form>
              </div>
              <div *ngIf = "item.info['Lab'].length > 0">Lab
                  <form><div class = "radio"  *ngFor = "let m of item.info['Lab']"><label><input type = "radio" name = "{{currentCourses[i].fos}}{{currentCourses[i].num}}LabRadio" id = "{{currentCourses[i].fos+currentCourses[i].num+m['section']}}" class = "classForm"> {{m['section']}} {{m['crn']}} {{m['time']}} {{m['days']}}</label></div></form>
              </div>
              <div *ngIf = "item.info['Tutorial'].length > 0">Tutorial
                  <form><div class = "radio"  *ngFor = "let m of item.info['Tutorial']"><label><input type = "radio" name = "{{currentCourses[i].fos}}{{currentCourses[i].num}}TutRadio" id = "{{currentCourses[i].fos+currentCourses[i].num+m['section']}}" class = "classForm"> {{m['section']}} {{m['crn']}} {{m['time']}} {{m['days']}}</label></div></form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>